{% extends "info/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}{% include 'info/navbar.html' %}{% endblock %}

{% block content %}

{% for info in info %}
<div class="text-light">
    {{ info.html_field|safe }}
</div>
    {% include 'info/gallery_carousel.html' %}
<br>
{% endfor %}

<hr class="text-secondary">

<div class="text-light">
    {% for info in locations %}
    <h1>
        {{ info.title }}
    </h1>
    <div>
        {{ info.html_field|safe }}
    </div>
    {% include 'info/gallery_grid.html' %}
    <br>
    {% endfor %}
</div>

<br>
{% endblock %}