{% extends "info/base.html" %}

{% block title %}{{ info.title }}{% endblock %}
{% include 'navbar.html' %}

{% block navbar %}{% include 'info/navbar.html' %}{% endblock %}

{% block content %}
    <div class="text-light">
        {{ info.html_field|safe }}
    </div>
    <div class="text-light">
        {% for lock in locations %}
        <h1>
            {{ lock.title|safe }}
        </h1>
        <div>
            {{ lock.html_field|safe }}
        </div>
        {% endfor %}
    </div>

    <br>
{% endblock %}