{% load static %}


<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link h3 mx-auto text-secondary" href="{% url 'index_url' %}">ГлУр</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-secondary" href="{% url 'musician_url' %}">Музыканты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-secondary" href="{% url 'scene_url' %}">Сцены</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-secondary" href="{% url 'gallery_url' %}">Фото/Видео</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-secondary" href="{% url 'blog_url' %}">Новости</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-secondary" href="{% url 'location_url' %}">Как добраться</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-secondary" href="{% url 'contacts_url' %}">Контакты</a>
    </li>
</ul>