{% load static %}


<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link h3 mx-auto text-light" href="{% url 'index_url' %}">ГлУр</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-light" href="{% url 'participants_url' %}">Музыканты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-light" href="{% url 'locations_url' %}">Сцены</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-light" href="{% url 'gallery_url' %}">Фото/Видео</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-light" href="{% url 'blog_url' %}">Новости</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-light" href="{% url 'infrastructure_url' %}">Как добраться</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  h3 mx-auto text-light" href="{% url 'contacts_url' %}">Контакты</a>
    </li>
</ul>